<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/movies/new" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Movie
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/movies/new">Movies</a></li>
              <li><a class="dropdown-item" href="/movies/index">Index</a></li>             
            </ul>          
          </li>


           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/series/new" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Series
          </a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/series/new">Series</a></li>
              <li><a class="dropdown-item" href="/series/index">Index</a></li>            
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/documentaryfilms/new" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Documentaryfilms
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/documentaryfilms/new">Documentaryfilms</a></li>
              <li><a class="dropdown-item" href="/documentaryfilms/index">Index</a></li>             
            </ul>
          </li>      
    </div>
  </div>
</nav>